@import 'tailwindcss';

@font-face {
	font-family: 'Oxygen';
	src: url('/fonts/Oxygen/Oxygen-Light.ttf') format('truetype');
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: 'Oxygen';
	src: url('/fonts/Oxygen/Oxygen-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Oxygen';
	src: url('/fonts/Oxygen/Oxygen-Bold.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'Source Sans 3';
	src: url('/fonts/Source_Sans_3/SourceSans3-VariableFont_wght.ttf') format('truetype');
	font-weight: 200 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Source Sans 3';
	src: url('/fonts/Source_Sans_3/SourceSans3-Italic-VariableFont_wght.ttf') format('truetype');
	font-weight: 200 900;
	font-style: italic;
	font-display: swap;
}

@theme {
	--font-oxygen: 'Oxygen', system-ui, san-serif;
	--font-source-sans: 'Source Sans 3', system-ui, sans-serif;

	--color-cyprus-400: #004643;
	--color-cyprus-300: #45a19c;

	--color-cloud-200: #fafafa;
	--color-cloud-100: #f5f8f8;
	--color-cloud-50: #ffffff;

	--color-power-400: #334155;
	--color-power-300: #475569;
	--color-power-200: #64748b;
	--color-power-200: #94a3b8;
}

:root {
	h1,
	h2 {
		@apply font-oxygen;
	}
}

@layer {
	.pill {
		@apply inline-block rounded-full bg-cyprus-400/10 px-4 py-1.5 text-sm font-bold tracking-wider uppercase;
	}

	.form-label {
		@apply sr-only px-1 text-sm font-semibold text-power-400;
	}

	.input {
		@apply w-full rounded-3xl border border-cyprus-400/10 bg-cyprus-400/5 transition-colors outline-none focus:border-cyprus-400 focus:bg-cloud-50;
	}

	.btn {
		@apply w-full cursor-pointer rounded-3xl px-10 py-4 font-bold;
	}

	.btn-primary {
		@apply bg-cyprus-400 text-cloud-100 transition-colors hover:opacity-90;
	}

	.btn-secondary {
		@apply border-2 border-cyprus-400/10 bg-cloud-50 text-cyprus-400 transition-colors hover:bg-cloud-200;
	}

	.hero-gradient {
		background: radial-gradient(
			circle at 50% 50%,
			rgba(0, 71, 68, 0.05) 0%,
			rgba(245, 248, 248, 1) 100%
		);
	}
}
